@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

@mixin hover {
  text-shadow: 0 5px 20px #000;
  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
$colorBg: rgba(255, 255, 255, 1);
$colorMenu: rgba(255, 255, 255, 0.9);
$colorShadow: rgba(204, 204, 204, 1);

// ----- 1920px and smaller ---------------------------------------------------

* {
  margin: 0;
  padding: 0;
  font-family: 'Reenie Beanie', cursive;
  font-weight: 600;
}

html,
body {
  background-color: $colorBg;
}

#main_title {
  font-size: 4em;
  width: 100%;
  text-align: center;
  line-height: 100vh;
  &:hover {
    @include hover;
  }
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sample {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .sample_menu {
    width: 90%;
    position: fixed;
    z-index: 97;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $colorMenu;
    font-size: 2em;
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
  .sample_menu_active {
    transform: translate(7%);
    -webkit-transform: translate(7%);
    -moz-transform: translate(7%);
    -ms-transform: translate(7%);
    -o-transform: translate(7%);
}
  .sample_menu div {
    text-align: center;
    padding: 25px 0;
    &:hover {
      @include hover;
    }
  }
  .sample_menu_sml {
    display: none;
  }
  .sample_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $colorBg;
    .sample_icon {
      display: none;
      &:hover {
        cursor: default;
      }
    }
    .sample_image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
      .thumbnails {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 50vh;
        padding: 15px 0;
        overflow-y: scroll;
        .thumbnail {
          width: 30%;
          margin: 20px;
          img {
            width: 100%;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            &:hover {
              transform: scale(1.05);
              -webkit-transform: scale(1.05);
              -moz-transform: scale(1.05);
              -ms-transform: scale(1.05);
              -o-transform: scale(1.05);
              box-shadow: 0 5px 10px $colorShadow;
            }
          }
        }
      }
      .image {
        max-width: 960px;
        img {
          width: 100%;
          &.image_pola {
            display: block;
            margin: 0 auto;
            width: 55%;
          }
        }
      }
    }
    .sample_count {
      font-size: 1.5em;
      padding-bottom: 50px;
    }
  }
}

// ----- 1024px and smaller ---------------------------------------------------

@media screen and (max-width: 1024px) {
  #main_title {
    font-size: 2em;
  }

  .sample {
    .sample_menu {
      display: none;
    }
    .sample_menu_sml {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 96;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transition: all 0.5s ease-in-out;
      background-color: $colorMenu;
      font-size: 2em;
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
    }
    .sample_menu_sml_active {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
    }
    .sample_menu_sml div {
      text-align: center;
      padding-top: 20px;
      &:hover {
        @include hover;
      }
      &:first-of-type {
        padding-top: 30px;
      }
    }
    .sample_container {
      .sample_image {
        width: 100%;
        justify-content: center;
        .image {
          width: 90%;
          img {
            &.image_pola {
              width: 75%;
              margin-top: 0;
            }
          }
        }
      }
    }
    .sample_count {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main_title {
    font-size: 2em;
  }

  .sample {
    .sample_container {
      .sample_image {
        .image {
          width: 60%;
          img {
            &.image_pola {
              width: 80%;
            }
            &.image_limited {
              display: block;
              margin: 0 auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 840px) and (orientation: landscape) {
  #main_title {
    font-size: 2em;
  }

  .sample {
    .sample_container {
      .sample_image {
        height: 100%;
        .image {
          width: 60%;
          img {
            &.image_pola {
              width: 50%;
            }
            &.image_limited {
              display: block;
              margin: 0 auto;
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  #main_title {
    font-size: 2em;
  }

  .sample {
    .sample_container {
      .sample_image {
        .image {
          width: 60%;
          img {
            &.image_pola {
              height: 60%;
            }
            &.image_limited {
              display: block;
              margin: 0 auto;
              width: 90%;
            }
          }
        }
      }
    }
    .sample_count {
      font-size: 1.5em;
    }
  }
}

// ----- 1921px and larger ----------------------------------------------------

@media screen and (min-width: 1921px) {
  #main_title {
    font-size: 5em;
  }

  .sample {
    .sample_menu {
      font-size: 3em;
    }
    .sample_container {
      .sample_image {
        .image {
          max-width: 1920px;
          img {
            &.image_pola {
              width: 70%;
            }
          }
        }
      }
      .sample_count {
        font-size: 2.5em;
      }
    }
  }
}
